@media screen and (min-width: 960px) {
  
  :root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 11px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

.nav-item.dropdown a {
  text-transform: uppercase;

  color: #444444;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding:  16px 0px 16px 0px;
  height: auto;
  text-transform: uppercase;
  font-size: 11px !important;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 4px solid #ffffff;
}

.item33 .nav-item.dropdown a {
  border: solid 2px #333333;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;

}

.item33 .nav-item.dropdown a:hover {
  border: solid 2px #f99d27;
  background-color: #f99d27;

}

.item33 .dropdown-menu.show a {
  border: solid 0px #333333 !important;
  border-radius: 0px !important;
  padding-left: 20px;
  padding-right: 20px;

}

.item34 .dropdown-menu.show a {
  border: solid 0px #333333 !important;
  border-radius: 0px !important;
  padding-left: 20px;
  padding-right: 20px;
  

}

.item34 .dropdown-menu.show a:hover {
  border: solid 0px #333333 !important;
  border-radius: 0px !important;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f99d27 !important;

}

.item34 .nav-item.dropdown a {
  border-bottom: solid 4px #ffffff;
  border-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;

}
.item34 .nav-item.dropdown a:hover {
  border-bottom: solid 4px #f99d27;
  background-color: #ffffff;

}

}

@media screen and (max-width: 960px) {

  :root {
    --primary: #1888ff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  }
  
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .nav-item.dropdown a {

    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px !important;
  letter-spacing: 2px;
  font-weight: 600;
  }

  .navbar-toggler {
    
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px !important;
  letter-spacing: 2px;
  font-weight: 600;
    
  }

  .navbar.navbar-expand-lg.navbar-dark.bg-dark  {
    
    padding: 0px !important;
    margin: 0px !important;
    
    
  }

  .collasible-nav-dropdown {
    
    padding: 20px 0px !important;
    margin: 0px !important;
    
  }

  .dropdown-toggle.nav-link {
    
    padding: 30px 0px !important;
    margin: 0px !important;
    
    
  }

  .show .dropdown-toggle.nav-link {
    
    padding: 30px 0px !important;
    margin: 0px !important;
    background-color: #f99d27;
    
  }

  .dropdown-menu.show a  {
    
    padding: 30px 0px !important;
    margin: 0px !important;
    color: #ffffff !important;
    text-align: center !important;
    font-weight: 600;
    background-color: #000000;
    
  }

  .dropdown-menu.show a:hover  {
    
    padding: 30px 0px !important;
    margin: 0px !important;
    color: #f99d27;
    background-color: #f99d27;
    
  }


}

.Menu1 .navbar {
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 15px !important;
  letter-spacing: 2px;
  
}

.navbar-collapse.collapse.show {
color: #fff !important;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-size: 15px !important;
  letter-spacing: 2px;
 
}

.navbar-collapse {
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  display: inline-block !important;
  flex-wrap: nowrap !important;
  text-transform: uppercase;
  font-size: 15px !important;
  letter-spacing: 2px;
}

